<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="vision.madhvi.tutorial">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="vision.madhvi.tutorial.Mysub_Lession_Activity"></activity>
        <activity android:name="vision.madhvi.tutorial.ViewVideoBySubject_Activity" />
        <activity android:name="vision.madhvi.tutorial.MyCourseSubject_Activity" />
        <activity android:name="vision.madhvi.tutorial.Select_Paymen_Methode_Activity" />
        <activity
            android:name="vision.madhvi.tutorial.VerifyOTP_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vision.madhvi.tutorial.ForgotPassword_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vision.madhvi.tutorial.Profile_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vision.madhvi.tutorial.ViewDetail_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vision.madhvi.tutorial.Home_User_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vision.madhvi.tutorial.View_Video_Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name="vision.madhvi.tutorial.Home_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vision.madhvi.tutorial.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>